extends ../shared/layout 

block main-content
  include ../shared/sidebar 
  .content
    .user-list-left
      .sidebar-chat
        .user-list-card.sidebar-chat-content
          .user-list
            .user-list-head.headcenter
              h3.head Users Online
            .user-list-padding.media-list
              ul#ulusers
                if(userList.length > 0) 
                
                  -var userfriends = userList ;
                  -var logUser = logUser;
                  each user in userList
                    li.media(id=`user-${user._id}` data-id=user._id data-username=user.userName onclick="friendsSelected(this);")
                      h3 #{user.userName}

    .main-content.content-right
      .content-wrapper
        .content-body
          section.chat-app-window 
            .chat-head#chat-head.m-1
              span Select any user
            .chats#chats
              img(src='/public/img/welcome.svg' style="width:50%;height:50%")
          section.chat-app-form
            form#chatInputForm.chat-app-input
              .row
                .column
                  .form-group.postion-relative.col-10.m-0
                    input#msgField.form-control(type="text" placeholder="type your message here", required)
                .column
                  .form-group.position-relative.col-2.m-0
                    button#sendBtn.btn.btn-info(type="button" onclick="doSendMessage('msgField')") Send

  script.
    var selectedFriend ;
    var loggedUser =  !{JSON.stringify(logUser)};
    var socketIO = io();

    function connectSocket(){
      $.ajax({
        url:'/connectSocket',
        type:'POST',
        success: function(data,status){
          socketIO.on("messageReceived", function(msgObj){
            if(selectedFriend != null && msgObj.from == selectedFriend._id){
              var chatarea = '';    
                chatarea += '<div class="chat-left">'
                  chatarea += '<div class="chat-body">'
                    chatarea += '<div class="chat-content">'
                      chatarea += '<p>'+msgObj.message+'</p>'
                    chatarea += '</div>'
                  chatarea += '</div>'
                chatarea += '</div>'
              
              document.getElementById("chats").innerHTML += chatarea;
            }
          })
          socketIO.on("requestReceived", function(reqObj){
            if(selectedFriend != null && reqObj.from == selectedFriend._id){
              var chatarea = '<div class="center"><button id="btnSendRequest" class="btn btn-info btn-block" onclick="acceptRequest(\''+selectedFriend._id+'\')"> Accept Request </button></div>'
              document.getElementById("chats").innerHTML = chatarea;
            }
          })
          socketIO.on("requestAccepted", function(resObj){
            if(selectedFriend != null && resObj.from == selectedFriend._id){
              selectedFriend.status = 'Accepted';
              document.getElementById("chats").innerHTML = '';
            }
          })
          socketIO.on("userOnline", function(onObj){
            if(loggedUser && loggedUser._id != onObj.from._id && !$(`li#user-${onObj.from._id}`).length){
            var chatarea = `<li id='user-${onObj.from._id}' class="media" data-id=${onObj.from._id} data-username=${onObj.from.userName} onclick="friendsSelected(this);"><h3>${onObj.from.userName}</h3></li>`
              document.getElementById("ulusers").innerHTML += chatarea;
            }
          })
          socketIO.on("userLogout", function(offObj){
            if(selectedFriend != null && selectedFriend._id == offObj.from._id){
              var spanhtml = '<span>Select any user</span>';
              document.getElementById("chat-head").innerHTML = spanhtml;
              document.getElementById("chats").innerHTML = '';  
              selectedFriend = '';
            }
            var item = document.getElementById(`user-${offObj.from._id}`);
              item.parentNode.removeChild(item);
          })
        }
      })
    }
    connectSocket();

    function friendsSelected(selectedOne){
      var userUpdated=null;
      async function getUserFriends(){
        await $.ajax({
          url:'/getUserFriends',
          type:'POST',
          success: function(data,status){
            if(data.status == 'Success'){
              userUpdated = data.userUpdated;
            }
            else{
              alert(data.msg);
            }
          }
        })
        return userUpdated;
      }
      getUserFriends().then((userUpdated)=>{
        $('li.media.liactive').removeClass("liactive"); 
        $(selectedOne).addClass("liactive"); 
        var _id =  selectedOne.getAttribute("data-id");
        var clickedUserId = _id.toString();
        var clickedUserName =  selectedOne.getAttribute("data-username");
        var userClicked = {
          _id : selectedOne.getAttribute("data-id"),
          name : clickedUserName
        }
        var index = userUpdated.friends.findIndex(function(user){
        return user._id == _id;
        });

        if(index >= 0){
          selectedFriend = userUpdated.friends[index];
          var spanhtml = '<span>'+selectedFriend.name+'</span>';
          document.getElementById("chat-head").innerHTML = spanhtml;
          if(selectedFriend.status == 'Accepted'){
            $.ajax({
              type:"POST",
              url:'/usersList',
              data:{
                selectedId : _id
              },
              success: function(data,status,xhr){
                var chatarea = '';
                  for(let a = 0; a < data.data.length; a++){
                    var inboxchat = data.data[a];
                    if(inboxchat.from == data.userId){
                      chatarea += '<div class="chat">'
                        chatarea += '<div class="chat-body">'
                          chatarea += '<div class="chat-content">'
                            chatarea += '<p>'+inboxchat.message+'</p>'
                          chatarea += '</div>'
                        chatarea += '</div>'
                      chatarea += '</div>'
                    }
                    else{
                      chatarea += '<div class="chat-left">'
                        chatarea += '<div class="chat-body">'
                          chatarea += '<div class="chat-content">'  
                            chatarea += '<p>'+inboxchat.message+'</p>'
                          chatarea += '</div>'
                        chatarea += '</div>'
                      chatarea += '</div>'
                    }
                  }
                  document.getElementById("chats").innerHTML = chatarea;
              }
            })
          }
          else if(selectedFriend.status == 'Requested'){
            var chatarea = '<div class="center"><button id="btnSendRequest" class="btn btn-info btn-block" onclick="acceptRequest(\''+selectedFriend._id+'\')"> Accept Request </button></div>'
            document.getElementById("chats").innerHTML = chatarea;
          }
          else{
            var chatarea = '<div class="center"><button id="btnSendRequest" disabled class="btn btn-info btn-block disabled"> Request Sent</button></div>'
            document.getElementById("chats").innerHTML = chatarea;
          }
        }
        else{
          selectedFriend = userClicked;
          var spanhtml = '<span>'+clickedUserName+'</span>';
          document.getElementById("chat-head").innerHTML = spanhtml;
          var chatarea = '<div class="center"><button id="btnSendRequest" class="btn btn-info btn-block" onclick="sendRequest(\'' + clickedUserId + '\')"> Send Request </button></div>'
          document.getElementById("chats").innerHTML = chatarea;
        }
      })
    }

    function doSendMessage(ipId){
      if($('#chatInputForm')[0].checkValidity()){
        if(selectedFriend == null){
          document.getElementById(ipId).value='';
          return false;
        }
        if(selectedFriend.status != 'Accepted' ){
          console.log(selectedFriend.status);
          document.getElementById(ipId).value='';
          return false;
        }
        var message = document.getElementById(ipId).value;
        $.ajax({
          url:'/sendMessage',
          type:'POST',
          data: {
            selectedId : selectedFriend._id,
            message: message
          },
          success: function(data,status,xhr){
            var chatarea = '';
            if(data.status == 'Success'){
                  chatarea += '<div class="chat">'
                    chatarea += '<div class="chat-body">'
                      chatarea += '<div class="chat-content">'
                        chatarea += '<p>'+message+'</p>'
                      chatarea += '</div>'
                    chatarea += '</div>'
                  chatarea += '</div>'
                }
                document.getElementById("chats").innerHTML += chatarea;
                document.getElementById(ipId).value='';
          }
        })
      }
    }

    function sendRequest(requestId){
      console.log("requestId :",requestId);
      $.ajax({
        url:'/sendRequest',
        type:'POST',
        data: {
          selectedId : requestId
        },
        success: function(data,status){
           console.log(data.msg);
           if(data.status == 'Success'){
             document.getElementById('btnSendRequest').innerHTML="Request Sent";
             document.getElementById('btnSendRequest').disabled="true";
           }
           else{
             alert(data.msg);
           }
        }
      })
    }

    function acceptRequest(acceptId){
      $.ajax({
        url:'/acceptRequest',
        type:'POST',
        data: {
          selectedId : acceptId
        },
        success: function(data,status){
           console.log(data.msg);
           if(data.status == 'Success'){
              document.getElementById("chats").innerHTML = '';
              selectedFriend.status = 'Accepted';
           }
           else{
             alert(data.msg);
           }
        }
      })
    }

   

    