input(type="checkbox", id="check")
header
  label(for='check')
    i#sidebar_btn.fas.fa-bars
  .left_area
    h3
      | Chat 
      span On
  .right_area
    //- div.row
    h3  #{logUser.userName}
    a.logout_btn(href='/logout') Logout