html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css")
    link(rel='stylesheet', type='text/css', href="/public/css/header.css")
    link(rel='stylesheet', type='text/css', href="/public/css/requests.css")
    link(rel='stylesheet', type='text/css', href="/public/css/usersList.css")
    script(type='text/javascript' src='/public/js/socket.io.js')
    script(type='text/javascript' src='/public/js/jquery.js')
    script(typr='text/javascript' src='public/js/main.js')
  body.fixed-navbar
    include ../shared/header
    block main-content