//- header area end
//- mobile navigation bar start
-var active_url = url.split("/")[url.split("/").length-1]
.mobile_nav
  .mobile_nav_items
    //- a(class=(active_url == "requests") ? "active" : "" href='/requests')
    //-   i.fas.fa-desktop
    //-   span Requests
    a(class=(active_url == "usersList") ? "active" : "" href='/usersList')
      i.fas.fa-envelope
      span Inbox
.sidebar
  //- a(class=(active_url == "requests" && "active") href='/requests')
  //-   i.fas.fa-desktop
  //-   span Requests
  a(class=(active_url == "usersList") && "active"  href='/usersList')
    i.fas.fa-envelope
    span Inbox