doctype html
head
	title Login Form
	link(rel='stylesheet' type='text/css' href='/public/css/style.css')
	link(href='https://fonts.googleapis.com/css?family=Poppins:600&display=swap' rel='stylesheet')
	script(src='https://kit.fontawesome.com/a81368914c.js')
	meta(name='viewport' content='width=device-width, initial-scale=1')
body
	//- img.wave(src='/public/img/waves.png')
	.container
		.img
			img(src='/public/img/bg.svg')
		.login-content
			form#loginForm(onsubmit="return false;")
				img(src='/public/img/avatar.svg')
				h2.title Login
				.input-div.one
					.i
						i.fas.fa-user
					.div
						h5 Email
						input.input(type='email', name='email', required)
				.input-div.pass
					.i
						i.fas.fa-lock
					.div
						h5 Password
						input.input(type='password', name='password', required)
				a(href='/signup') Does not have a account
				button.btn(type='submit' onclick='loginUser(this)') Login
				
	script(type='text/javascript' src='/public/js/jquery.js')
	script(typr='text/javascript' src='public/js/main.js')