body.fixed-navbar {
  padding-top: 4.57rem;
}
html body {
  height: 100%;
  width: 100%;
  background-color: #F3F3F3;
  direction: ltr;
}

.user-list-head{
  padding: 1.25rem;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid;
  border-color: #19B3D3;;
}

.user-list-head .head{
  font-size: 25px;
  font-weight: bold;
}

.user-list-left {
  border-right : 1px solid #E4E7ED;
  z-index: 999;
  position: fixed;
  height: 100%;
}

.sidebar-chat{
  position: relative;
}

/* user list left  */

li.liactive{
  color:green;
}
.user-list-card{
  background-color: #FFF;
  word-wrap: break-word;
  position: relative;

}

.user-list{
  position: relative;
  display: flex;
  flex-direction: column;
}

.media-list .media{
  cursor: pointer;
  padding: 0.25rem;
    margin-top: 0;
}

.content-right {
  height:100%;
}
.content-wrapper{
  padding: 0 !important;
  height:100%;
} 


.chat-head.m-1{
  margin: 1rem;
}
.chat-head span{
  font-size: 22px;
  font-weight: 800;
}

/* center request button */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
 
}


.chat-app-window{
  padding: 20px 30px;
  overflow-y: scroll;
  text-align: center;
  height: calc(100% - 220px);
  background-color: #fff;
  display: block;
}
.chats{
  padding: 0;
} 
.chats .chat-body{
  display: block;
  margin: 10px 30px 0 0;
  overflow: hidden;
}
.chats .chat-left .chat-body {
  margin-right: 0;
  margin-left: 30px;
}
.chats .chat-left .chat-content {
  text-align: left;
  display: block;
  float: left;
  padding: 0 10px;
  /* margin: 0 0 10px 20px; */
  color: #55595c;
  background-color: lightgreen;
  border-radius: 4px;
}

.chats .chat .chat-body .chat-content{
  text-align: right;
  position: relative;
  display: block;
  float: right;
  padding: 0 10px;
  /* margin: 0 20px 10px 0; */
  clear: both;
  color: #fff;
  background-color: #3BAFDA;
  border-radius: 4px;
}

/* chat send form */
.chat-app-form {
  position: relative;
  padding: 20px 10px;
  background-color: white;
  overflow: hidden;
}

.column #msgField {
  position: relative;
  float: left;
  width: 80%;
  padding: 10px;
  margin:2px;
}

.column #sendBtn {
  position: relative;
  float: left;
  width: 12%;
  padding: 10px;
  margin:5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.d-flex{
  display: flex!important;
}

.m-0 {
  margin: 0!important;
}

.position-relative {
  border: none!important;
  position: relative!important;
}
form .form-control {
  border: 1px solid #D4D4D4;
  color: #5A5A5A;
}
.form-control {
  display: block;
  width: 100%;
  height: -webkit-calc(2.75rem + 2px);
  height: -moz-calc(2.75rem + 2px);
  height: calc(2.75rem + 2px);
  padding: .75rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #4E5154;
  background-color: #FFF;
  border: 1px solid #ADB5BD;
  border-radius: .21rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
} 

/* button */
.btn-info {
  color: #FFF;
  background-color: #3BAFDA;
  border-color: #3BAFDA;
}
.btn {
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .75rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
}

/* button-blocl */
.btn-block {
  display: block;
  width: 60%;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btn-block:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (min-width: 992px){
.content-right{
  width: -webkit-calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: calc(100% - 300px);
  float: right;
}
.user-list-left{
    float: left;
}

.sidebar-chat {
  vertical-align: top;
  width: 300px;
}
}
